<div class="m-m">
    <div class="ui stackable one column grid">
        <div class="column">
            <h2 class="ui header">
                Batch Emailer
                <div class="sub header">Sends email in batch through a secured protocol</div>
            </h2>
        </div>
        <div class="column">
            <div class="ui inverted fluid three item menu">
                <a [routerLink]="(['compose'])" routerLinkActive="active" class="blue item">
                    <i class="envelope icon"></i> Compose Mail
                </a>
                <a [routerLink]="(['sent'])" class=" blue item" routerLinkActive="active">
                    <i class="envelope open icon"></i>Sent
                    <div class="ui label">51</div>
                </a>
                <a class="blue item">
                    More
                </a>
            </div>
            <div class="ui attached">
                <router-outlet></router-outlet>
            </div>

        </div>
    </div>
</div>